@using System.Threading.Tasks
@model YerbaManager.Models.YerbasViewModel.YerbaViewModel

@{
    ViewData["Title"] = "Create";
    var producers = ViewData["Producers"] as Task<List<Producer>>;
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Yerba</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Producer", class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Producer" asp-items="await YerbaManager.Controllers.YerbasController.GetProducersList(producers)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Jar" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Jar" class="form-control" />
                <span asp-validation-for="Jar" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Score" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Score" asp-items="Html.GetEnumSelectList<YerbaManager.Models.Enums.Score>()" class="form-control"></select>
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
